@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400&family=Source+Code+Pro:ital,wght@1,300&display=swap');

body {
    background-color: #F7E018;
    color: #000;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container {
    margin-top: 20px;
    height: 16vh;
}

.text-container h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 32px;
    letter-spacing: 2.5px;
    text-align: center;
    border-bottom: 2px solid #000;
    margin-bottom: 25px;
}

.text-container p {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.container-list {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 85vw;
}

.container-list ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
}

.container-list li {
    width: 48%;
    margin-bottom: 10px;
    border: 2px solid #000;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 20px 20px 50px #FFC720;
}

.main-paragraph {
    font-family: 'Source Code Pro', monospace;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
    margin: 15px 0px;
}

@media screen and (max-width: 768px) {
    .text-container {
        height: 20vh;
        text-align: center;
    }

    .text-container h1 {
        font-size: 22px;
    }

    .text-container p {
        font-size: 14px;
    }

    .container-list li {
        width: 100%;
        font-size: 14px;
    }

    .main-paragraph {
        font-size: 16px;
        text-align: center;
    }
}